<div class="chat-container">

  <mat-toolbar>
    <span class="toolbar-title">Chat</span>
  </mat-toolbar>

  <mat-sidenav-container class="chat-container">

    <mat-sidenav-content>
      <mat-drawer-container class="gray-container">
        <mat-list role="list">
          <mat-list-item *ngFor="let message of (messages$ | async); index as i" [ngClass]="{'white-row': i % 2 !== 0}">
            <app-message-row [message]="message" (sendUserTag)="onSendUserTag($event)"></app-message-row>
          </mat-list-item>
        </mat-list>
      </mat-drawer-container>
      <app-message-input [taggedUser]="userTag" (sendMessage)="onSendMessage($event)"></app-message-input>
    </mat-sidenav-content>

    <mat-sidenav mode="side" position="end" opened>
      <app-user-list [users]="users$ | async" (sendUserTag)="onSendUserTag($event)"></app-user-list>
    </mat-sidenav>

  </mat-sidenav-container>
</div>
